@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import '../../node_modules/toastr/build/toastr.min.css';

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.navbar {
  background-color: #E5E5E5;
}
body {
  font-family:  sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100vh;
}

a {
  color: #00B7FF;
}

footer {
  padding-top: 15px;
  background-color: #FFFFFF;
}

.title {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}

.btn {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.table-bordered>tbody>tr>th{
  vertical-align: middle;
}
.table>tbody>tr>td{
  vertical-align: middle;
}
Link::before{
  text-decoration: none;
  text-decoration-color: black;
}
.min{
  width:200px;
  vertical-align:middle;
}
.colorRed{
  color: red;
}
.set {
  width:500px;
  text-align: center;
  border-left: 1px solid #ddd;
  vertical-align:middle;
}
.set a{
  color:#000000;
  text-decoration: none;
}
.setin1 {
  width:200px;
  text-align: center;
}
.setin2 {
  width:300px;
  text-align: center;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.setin2 a{
  color:#000000;
  text-decoration: none;
}
